<style type="text/css">.error {color: red;}</style>

<h1>Contact</h1>
<form action="/" method="POST" novalidate>
  <div>
    {{ with .Errors.Email }}
    <p class="error">{{ . }}</p>
    {{ end }}
    <label>Your email:</label>
    <input type="email" name="email" value="{{ .Email }}">
  </div>
  <div>
    {{ with .Errors.Summary }}
    <p class="error" >{{ . }}</p>
    {{ end }}
    <label>Request Summary:</label>
    <input type="text" name="summary" value="{{ .Summary }}">
  </div>
  <div>
    {{ with .Errors.Description }}
    <p class="error" >{{ . }}</p>
    {{ end }}
    <label>Request Description:</label>
    <textarea name="description">{{ .Description }}</textarea>
  </div>
  <div>
    {{ with .Errors.StoryType }}
    <p class="error" >{{ . }}</p>
    {{ end }}
    <label>Request Type:</label>
    <select name="storytype">{{ .StoryType }}
        <option value=""></option>
        <option value="chore">Task</option>
        <option value="bug">Bug</option>
        <option value="feature">Request</option>
    </select> 
  </div>
  <div>
    {{ with .Errors.Deadline }}
    <p class="error" >{{ . }}</p>
    {{ end }}
    <label>Request Due Date:</label>
    <input type="date" name="deadline" value="{{ .Deadline }}">
  </div>  
  <div>
    <input type="submit" value="Send message">
  </div>
</form>